body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.container p {
  margin-bottom: 3rem; /* This also works */
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.item video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}
.video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}